{% extends "base.html" %}

{% block content %}
<div class="auth">
    <h1>Welcome</h1>
    <footer class="auth">
        <p>This sign in is for a personal study tool built with Python & Flask. You can see a <a href="{{ url_for('main.demo', sort_by='name') }}">demo of the project here</a>. Keep in mind some features have been disabled in the demo to protect the database. More projects at <a href="">cyanred</a>. Thanks for visting.</p>
    </footer>
    <form action="" method="post">
        {{ form.hidden_tag() }}
            <p>
            <!-- {{ form.user_or_email.label }} -->
            {% for error in form.user_or_email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            {{ form.user_or_email(class="single", placeholder="username or email") }}
            </p>
            <p>
            <!-- {{ form.password.label }} -->
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            {{ form.password(class="single", placeholder="password") }}
            </p>
        <p class="remember_reset">
            {{ form.remember_me(class="check", checked="True") }} {{ form.remember_me.label }}
            <a class="reset" href="{{ url_for('auth.reset_password_request') }}">Reset password?</a>
        </p>
        <p class="button">
            {{ form.submit(class="button") }}
        </p>

    </form>




</div>
{% endblock %}
