{% extends "base-auth.html" %}

{% block content %}
<div class="content--centerd content--2col">

  <h1 class="primary-heading">Hey there,</h1>

  {% include '_intro.html' %}

  <p><a href="{{ url_for('auth.register') }}" class="inline inline--dark">Register here</a> if you'd like to check it out.</p>

  <h1 class="primary-heading break">Login</h1>

  <form action="" method="post" class="auth-form">
    {{ form.hidden_tag() }}

    {{ form.user_or_email.label }}
    {% for error in form.user_or_email.errors %}
    <span class="form-error">* {{ error }}</span>
    {% endfor %}
    {{ form.user_or_email(class="auth-form__field") }}

    {{ form.password.label }}
    {% for error in form.password.errors %}
    <span class="form-error">* {{ error }}</span>
    {% endfor %}
    {{ form.password(class="auth-form__field") }}

    <a href="{{ url_for('auth.reset_password_request') }}" class="inline inline--dark">Forgot password?</a>
    <div class="float-right">
      {{ form.remember_me(class="auth-form__check", checked="True") }} {{ form.remember_me.label }}
    </div>

    <p class="auth-form__btn">{{ form.submit(class="btn btn--solid") }}</p>

  </form>

  {% include '_messages-auth.html' %}

</div>
{% endblock %}
