{% extends "base.html" %}

{% block content %}
<div class="auth">
    <h1>New password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <!-- {{ form.password.label }} -->
            {% for error in form.password.errors %}
            <span class="error"> : {{ error }}</span>
            {% endfor %}
            {{ form.password(class="single", placeholder="new password") }}<br>
        </p>
        <p>
            <!-- {{ form.password2.label }} -->
            {% for error in form.password2.errors %}
            <span class="error"> : {{ error }}</span>
            {% endfor %}
            {{ form.password2(class="single", placeholder="repeat new password") }}<br>
        </p>
        <p class="button">{{ form.submit(class="button") }}</p>
    </form>
</div>
{% endblock %}
