{% extends "base-auth.html" %}

{% block content %}
<div class="content--centerd content--1col">

  <h1 class="primary-heading">New password</h1>

  <p>
    The password you enter here will be assigned to your account. To double-check your entry, click the eye icon to show & hide the text as you type.
  </p>

  <form action="" method="post" class="auth-form">
    {{ form.hidden_tag() }}

    {{ form.password.label }}
    {% for error in form.password.errors %}
    <span class="form-error">* {{ error }}</span>
    {% endfor %}
    {{ form.password(class="auth-form__field") }}<br>

    <p class="auth-form__btn">{{ form.submit(class="btn btn--solid") }}</p>
  </form>

  {% include '_messages-auth.html' %}

</div>
{% endblock %}
