@charset "UTF-8";

/* DISCLAIMER ------------------------------------------------------------- */

/* This CSS was written on the fly while my attention was focused on
learning Flask & Python. It does not necessarily follow what I consider
to be best CSS coding practices. For information on CSS best practices
see my github notes at https://github.com/jessicarush/css-notes */



/* VARIABLES -------------------------------------------------------------- */

:root {
  --heading-font: 'Nunito', sans-serif;
  --subheading-font: 'Nunito Sans', sans-serif;
  --main-font: 'Nunito', sans-serif;
  --emphasis-color: rgb(54,199,167);
  --emphasis-color-dark: rgb(69,175,150);
  --error-color: rgb(255,102,102);
  --heading-color: rgb(30,35,40);
  --subheading-color: rgb(170,183,202);
  --main-color: rgb(130,135,140);
  --minor-color: rgb(160,170,170);
  --sidebar-color: rgb(55,60,72);
  --sidebar-color-dark: rgb(39,43,53);
}



/* DEFAULTS --------------------------------------------------------------- */

html {
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-image: url('../img/vintage_speckles.png');
  background-repeat: repeat;
  margin: 0;
}

p {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.6em;
  margin: 0 0 20px 0;
}

code {
  color: rgba(55,60,72,.6);
  background: rgba(220,220,225,.8);
  display: inline-block;
  padding: 0 .5em;
  border-radius: 3px;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
}

input,
textarea,
select,
label {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: var(--main-font);
  margin: 0;
  outline: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}



/* TYPOGRAPHY ------------------------------------------------------------- */

.primary-heading {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}

.secondary-heading {
  color: var(--subheading-color);
  font-family: var(--subheading-font);
  font-size: .7rem;
  font-weight: 400;
  line-height: 1em;
  margin: 3em 0 .8em 0;
  text-transform: uppercase;
}

.sidebar .secondary-heading:first-of-type {
  margin: 0 0 .8em 0;
}

.error-msg {
  font-family: var(--main-font);
  font-weight: 700;
  list-style-type: none;
  padding: 0;
  margin: 0 0 25px 0;
}

.error-msg__item {
  margin: 0;
  padding: 0;
}

.error-msg--success {
  color: var(--emphasis-color-dark);
}

.error-msg--fail {
  color: var(--error-color);
}

.truncate-text {
  display: block;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 225px;  /* sidebar width */
}

.comment {
  color: rgba(170,183,202,.4);
}

.sidebar-comment {
  color: rgb(155,163,182);
}



/* LINKS & BUTTONS -------------------------------------------------------- */

.inline,
.inline:link,
.inline:visited {
  font-family: var(--main-font);
  font-weight: 700;
  text-decoration: none;
  transition: color .3s;
}

.inline--dark,
.inline--dark:link,
.inline--dark:visited {
  color: var(--heading-color);
}

.inline--light,
.inline--light:link,
.inline--light:visited {
  color: #fff;
}

.inline:hover,
.inline:active,
.inline:focus {
  color: var(--emphasis-color);
}

.primary {
  font-family: var(--main-font);
  text-decoration: none;
  transition: color .2s;
}

.primary--active,
.primary--active:link,
.primary--active:visited,
.primary--disabled {
  color: #fff;
  font-weight: 400;
}

.primary--active:hover,
.primary--active:active,
.primary--active:focus {
  color: var(--emphasis-color);
}

.primary--inactive,
.primary--inactive:link,
.primary--inactive:visited {
  color: var(--subheading-color);
  font-weight: 400;
}

.primary--inactive:hover,
.primary--inactive:active,
.primary--inactive:focus {
  color: var(--emphasis-color-dark);
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  line-height: 1em;
  padding: .7em 1em;
  text-decoration: none;
  transition: all .3s;
  border-radius: 2em;
}

.btn--solid,
.btn--solid:link,
.btn--solid:visited {
  background: var(--emphasis-color);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(20,30,30,.1);
  transition: background .3s;
}

.btn--solid:hover,
.btn--solid:focus,
.btn--solid:active {
  background: var(--emphasis-color-dark);
}



/* LAYOUT ----------------------------------------------------------------- */

.flex-row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 690px) {
  .flex-row {
    flex-direction: column;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.flex-col-vh {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-col--justified {
  justify-content: space-between;
}

.flex-col__main {
  margin-top: 100px;
}

@media screen and (max-width: 730px) {
  .flex-col__main {
    margin-top: 0;
  }
}

.flex-col__footer {
  margin: auto 0 0 0;
}

.content--centerd {
  margin: 35px auto;
}

.content--1col {
  width: 320px;
}

.content--1col-med {
  width: 460px;
}

.content--1col-wide {
  max-width: 720px;
}

@media screen and (max-width: 690px) {
  .content--1col-wide {
    width: 100%;
    box-sizing: border-box;
  }
}

.content--2col {
  width: 720px;
  column-count: 2;
  column-gap: 80px;
}

@media screen and (max-width: 730px) {
  .content--2col {
    width: 320px;
    column-count: 1;
  }
}

.content--3col {
  width: 1000px;
  column-count: 3;
  column-gap: 80px;
}

@media screen and (max-width: 1030px) {
  .content--3col {
    width: 320px;
    column-count: 1;
  }
}

.keep-together {
  break-inside: avoid;
  margin-bottom: 60px;
}

.sidebar {
  background: var(--sidebar-color);
  width: 320px;
  box-sizing: border-box;
  padding: 35px;
  min-height: 100vh;
}

@media screen and (max-width: 690px) {
  .sidebar {
    width: 100%;
    min-height: auto;
  }
}

.padded-lr-reg {
  padding-left: 35px;
  padding-right: 35px;
}

.padded-lr-small {
  padding-left: 5px;
  padding-right: 5px;
}

.relative-container {
  position: relative;
}



/* COMPONENTS ------------------------------------------------------------- */

.plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plain-list li {
  padding: 0;
}

.plain-list--horizontal li {
  display: inline-block;
  margin: 0 .6em 0 0;
}

.plain-list--vertical li {
  line-height: 1.8em;
}


.topic {
  background: #fff;
  border: solid 1px rgb(230,230,230);
  float: left;
  margin: 8px 4px 0 4px;
  padding: 60px 20px 20px 20px;
  position: relative;
  width: 335px;
}

@media screen and (max-width: 690px) {
  .topic {
    box-sizing: border-box;
    margin: 5px 0 0 0;
    width: 100%;
  }
}

.topic__id {
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 1.7rem;
  justify-content: center;
  width: 1.7rem;
  font-family: var(--main-font);
  font-size: .6rem;
  font-weight: 800;
  left: 18px;
  position: absolute;
  top: 18px;
}

.topic__id--on {
  background: var(--emphasis-color);
}

.topic__id--off {
  background: var(--heading-color);
}

.star-on {
  color: var(--emphasis-color);
}

.star-off {
  color: rgb(210,210,210);
}

.topic__mastery {
  font-size: 14.5px;
  line-height: 1rem;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 20px;
  width: 100px;
}

.topic__heading-group {
  position: absolute;
  top: 20px;
  left: 63px;
}

.topic__heading {
  font-family: var(--main-font);
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
}

.topic__subheading {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
  font-size: .75rem;
  line-height: 2.5em;
  margin: 0;
  display: inline-block;
}

.topic__subheading strong {
  color: var(--heading-color);
  font-size: .8rem;
  font-weight: 700;
}

.topic__review-heading {
  color: var(--minor-color);
  font-family: var(--main-font);
  font-size: .65rem;
  font-weight: 400;
  padding: 0 0 3px 0;
  text-transform: uppercase;
}

.topic__review-data {
  border-bottom: solid 1px rgb(235,235,235);
  padding: 2px 0;
  line-height: 1.8em;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: .8rem;
  font-weight: 400;
}

.topic__table {
  width: 100%;
}

.topic__table thead {
  text-align: left;
  background: #fff;
  box-shadow: 0 0 3px rgba(200,200,200,.8);
}

.topic__review-id {
  width: 12%;
}

.topic__review-date {
  width: 34%;
}

.topic__review-time {
  width: 20%;
}

.topic__review-before {
  width: 18%;
}

.topic__review-after {
  width: 18%;
}

.scroll-table {
  width: 100%;
  height: 120px;
  overflow-y: scroll;
  margin-top: 15px;
}

.scroll-table thead {
  position: sticky;
  top: 0;
}



/* FORMS ------------------------------------------------------------------ */

.form-error {
  color: var(--error-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--main-font);
}

.menu-arrow {
  border-right: 1px solid var(--subheading-color);
  border-bottom: 1px solid var(--subheading-color);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 18px;
  right: 2px;
  z-index: 2;
  pointer-events: none;
}

select:focus + .menu-arrow {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.auth-form__field {
  border-bottom: 1px solid var(--minor-color);
  box-sizing: border-box;
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 10px 0;
  width: 100%;
}

.auth-form__field:focus {
  border-bottom: 2px solid var(--heading-color);
  padding: 10px 0 9px 0;
}

.auth-form label {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}

.auth-form__btn {
  text-align: right;
  margin: 15px 0 0 0;
}

.auth-form__check {
  display: none;
}

.auth-form__check + label::before {
  color: var(--emphasis-color-dark);
  content: '\f00c';
  cursor: pointer;
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-size: .8rem;
  font-weight: 900;
  opacity: .2;
  width: 1.4em;
}

.auth-form__check:checked + label::before {
  content: '\f00c';
  opacity: 1;
  text-shadow: 0 0 3px rgba(0,0,0,.1);
}

.auth-form__password-icon {
  color: var(--minor-color);
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: -3px;
  bottom: 15px;
  transition: color .2s;
  z-index: 2;
}

.auth-form__password-icon:hover {
  color: var(--heading-color);
}

.sidebar-form {
  background: var(--sidebar-color-dark);
  position: relative;
  top: 0;
  left: -35px;
  width: 100%;
  max-height: 0;
  transition: all 1s;
  overflow: hidden;
}

.sidebar-form--open {
  max-height: 350px;  /* should match values  */
  margin-top: 10px;   /* in showSidebarForm() */
  margin-bottom: 10px;
}

.sidebar-form--always-open {
  max-height: 350px;
  margin-top: 25px;
}

.sidebar-form__container {
  padding: 25px 0;
}

.sidebar-form__field-group {
  display: flex;
  flex-direction: row;
}

.sidebar-form__field-group div {
  flex-grow: 1;
}

.sidebar-form__field-group div:first-child {
  margin-right: 35px;
}

.sidebar-form__field,
.sidebar-form__select {
  border-bottom: 1px solid var(--minor-color);
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 10px 0;
  padding: 10px 0;
  width: 100%;
}

.sidebar-form__select {
  display: block;
  padding-right: 25px;
}

.sidebar-form__select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.sidebar-form__select option {
  color: var(--sidebar-color-dark);
}

.sidebar-form__field:focus,
.sidebar-form__select:focus {
  border-bottom: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 9px;
}

.sidebar-form__btn {
  text-align: right;
  margin: 15px 0 0 0;
}

.update-form {
  width: 100%;
}

.update-form__table {
  width: 100%;
}

@media screen and (min-width: 1091px) {
  .update-form__table {
    width: 720px;
  }
}

.update-form__table tr {
  border-bottom: solid 1px rgb(210,215,215);
}

.update-form__table td {
  padding-top: .5em;
  padding-bottom: .5em;
}

.update-form__fixed-width-col {
  width: 60px;
}

.update-form__header {
  text-align: left;
  color: var(--heading-color);
  font-family: var(--main-font);
  font-size: .7rem;
  font-weight: 700;
  line-height: 1em;
  padding: 2em 0 .8em 0;
  text-transform: uppercase;
}

.update-form__description {
  font-family: var(--main-font);
  color: var(--main-color);
  padding-right: 2em;
  word-break: break-all;
}

.update-form__label {
  color: var(--heading-color);
  padding-right: .8em;
  word-break: break-all;
}

.update-form__field {
  font-weight: 700;
  color: var(--heading-color);
  font-size: 1rem;
  width: 40px;
  padding-left: .5em;
  border-radius: 4px;
}

.update-form__field:focus {
  /* background: rgba(220,220,225,.8); */
  background: rgba(218,224,226,1);
}

.update-form__btn {
  text-align: right;
  margin: 15px 0 0 0;
}



/* COSMETIC & UTILITY ----------------------------------------------------- */

.align-right {
  text-align: right;
}

.center {
  text-align: center;
}

.float-right {
  display: inline-block;
  float: right;
}

.icon-large {
  margin: 0 0 15px 0;
  width: 100px;
}

.space_above {
  padding-top: 25px;
}



/* STATE ------------------------------------------------------------------ */

::selection {
  background: var(--emphasis-color);
  color: #fff;
}

::-moz-selection {
  background: var(--emphasis-color);
  color: #fff;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::placeholder {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

::-webkit-input-placeholder {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

::-moz-placeholder {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

:-ms-input-placeholder {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

@keyframes slide_from_bottom {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide_from_top {
  0% {
    opacity: 0;
    transform: translateY(-300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  animation: slide_from_bottom .5s;
}

.animate-down {
  animation: slide_from_top .5s;
}


/* HACKS ------------------------------------------------------------------ */

/* fixes a firefox bug where select menu options appear slightly indented */
@-moz-document url-prefix() {
  select {
    text-indent: -2px;
  }
}

/* In event delegation, prevents child elements from being event.target */
button > * {
  pointer-events: none;
}
