@charset "UTF-8";

/* Global variables */
:root {
	--main-font-family: 'Nunito', sans-serif;
	--heading-font-family: 'Nunito', sans-serif;
	--minor-font-family: 'Nunito', sans-serif;
	--main-font-color: rgb(60, 60, 60);
	--heading-font-color: rgb(0, 0, 0);
	--minor-font-color: rgb(160, 160, 160);
	/* --emphasis-color: rgb(255, 102, 102); */
	--emphasis-color: rgb(54, 199, 167);
	/* --emphasis-color: rgb(0, 173, 221); */
	/* --emphasis-color: rgb(250, 201, 5); */
	--content-width: 1000px;
	--margin-left: 35px;
}


/* Layout */
body {
	background-image: url(../img/vintage_speckles.png);
	background-repeat: repeat;
	-webkit-text-size-adjust: 100%;
	margin: 0;
}
div.container {
}
div.flashed_messages {
	position: sticky;
}
div.content {
}
div.nav {
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 8px rgba(50, 50, 50, 0.2);
	padding: 10px var(--margin-left);
	position: sticky;
	top: 0;
	z-index: 5;
}
div.forms {
	background: rgb(55, 60, 72);
	padding: 25px 0 15px var(--margin-left);
}
div.topics {
	margin-left: var(--margin-left);
}
div.topic {
	background: rgba(255, 255, 255, 0.65);
	padding: 10px 20px 20px 20px;
	position: relative;
	width: 350px;
	float: left;
}
div.topic-on {
	border: solid 4px var(--emphasis-color);
	margin: 12px 15px 0 -3px;
}
div.topic-off {
	margin: 15px 15px 0 0;
	border: solid 1px rgb(230, 230, 230);

}
div.reviews {
	clear: both;
	border-top: solid 1px rgb(230, 230, 230);
	padding-top: 5px;
	height: 75px;
	overflow: auto;
}
div.mastery {
	width: 70px;
	text-align: right;
	font-size: 14px;
	position: absolute;
	top: 20;
	right: 20;
}
footer {
	margin-top: 50px;
}


/* Typography */
h1 {
	font-family: var(--heading-font-family);
	color: var(--heading-font-color);
	font-weight: 300;
	font-size: 36px;
}
h1.header, h2.header {
	font-family: var(--heading-font-family);
	color: var(--main-font-color);
	font-weight: 300;
	font-size: 14px;
	display: inline;
}
h1.header {
	margin: 0 0;
}
h2.header {
	margin: 0 0 0 25px;
}
h2.topic {
	font-family: var(--heading-font-family);
	font-size: 15px;
	font-weight: 800;
	margin: 0 0 2px 45px;
	padding: 6px 0 0 0;
}
h2.reviews {
	font-family: var(--heading-font-family);
	color: var(--minor-font-color);
	font-weight: 300;
	font-size: 11px;
	margin: 4px 0 4px 0;
	padding: 0 0 8px 45px;
	border-bottom: solid 1px rgb(230, 230, 230);

}
h2.form, p.warning {
	font-family: var(--heading-font-family);
	color: rgba(230, 247, 253, 0.6);
	font-size: 12px;
	font-weight: 300;
}
h2.form {
	margin: 0 0 8px 0;
}
p.warning {
	margin: 0 0 15px 0;
}

.topic h3 {
	font-family: var(--heading-font-family);
	color: var(--minor-font-color);
	font-size: 9px;
	text-transform: uppercase;
	font-weight: 400;
	float: left;
	margin: 0 0 2px 0;
}
p {
	font-family: var(--main-font-family);
	color: var(--main-font-color);
	font-size: 12.5px;
	font-weight: 400;
	line-height: 1.6em;
	margin: 0;
}
p.created-date {
	font-family: var(--heading-font-family);
	color: var(--minor-font-color);
	font-size: 11px;
	margin: 0 0 0 45px;
	float: left;
}
p.current-skill {
	font-family: var(--heading-font-family);
	color: var(--minor-font-color);
	font-size: 11px;
	margin: 0;
	float: right;
}
p.current-skill strong {
	color: var(--heading-font-color);
	font-weight: 800;
	font-size: 13px;
	line-height: 0.8em;
	padding-left: 3px;
}
p.warning strong {
	color: #fff;
}
a:link, a:visited {
	font-family: var(--main-font-family);
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
.nav a:link, .nav a:visited {
	font-size: 14px;
	font-weight: 700;
	color: var(--emphasis-color);
}
.topic a:link, .topic a:visited {
	color: var(--heading-font-color);
}
.topic a:hover, .topic a:active {

}
.review-id {
	display: inline-block;
	width: 45px;
	color: var(--minor-font-color);
	font-weight: 300;
}
.review-date {
	display: inline-block;
	width: 110px;
}
.review-time {
	display: inline-block;
	width: 93px;
}
.review-before {
	display: inline-block;
	width: 60px;
}
.review-after {
	display: inline-block;
	width: 40px;
}
span.topic-id {
	display: block;
	position: absolute;
	top: 18;
	left: 18;
	width: 30px;
	padding-top: 4px;
	height: 26px;
	font-family: var(--heading-font-family);
	color: rgb(255, 255, 255);
	background: var(--heading-font-color);
	border-radius: 15px;
	font-size: 15px;
	font-weight: 200;
	text-align: center;
}
span.star-on {
	color: var(--emphasis-color);
}
span.star-off {
	color: rgb(210, 210, 210);
}
::selection {
  background: var(--emphasis-color);
  color: rgb(255, 255, 255);
}
::-moz-selection {
  background: var(--emphasis-color);
  color: rgb(255, 255, 255);
}


/* Design Elements */
hr.thin {
	clear: both;
	border: 0;
	margin: 0;
	height: 0;
	background: rgb(220, 220, 220);
}
hr.clear {
	border: 0;
	margin: 0;
	height: 0;
	clear: both;
}
ul.error {
	list-style-type: none;
	padding: 4px var(--margin-left);
	margin: 0;
	font-family: var(--main-font-family);
	font-size: 15px;
	background: var(--emphasis-color);
	color: #fff;
}
ul.error li {
	list-style-type: none;
	padding: 0;
}
ul.sort_by {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}
ul.sort_by li {
	display: inline;
}
.reviews p {
	border-bottom: dotted 1px rgb(230, 230, 230);
}


/* Forms */
form.review {
	width: 210px;
	margin-right: 35px;
	float: left;
}
input, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	background: none;
	box-shadow: none;
	border-radius: 0;
	font-family: inherit;
}
input.single {
	color: rgba(230, 247, 253, 1);
	font-weight: 200;
	font-size: 15px;
	padding: 5px 0 5px 8px;
	background: rgba(200, 200, 255, 0.15);
	border: 1px solid rgba(18, 19, 23, 0.1);
	border-radius: 3px;
	margin-bottom: 5px;
	width: 100%;
}
.review select {
	color: rgba(230, 247, 253, 1);
	font-weight: 200;
	font-size: 15px;
	padding: 4px 0 4px 5px;
	background: rgba(200, 200, 255, 0.15);
	border: 1px solid rgba(18, 19, 23, 0.1);
	border-radius: 3px;
	margin-bottom: 5px;
	width: 100%;
}
/* prevent <option>s from becoming select color in firefox */
option:not(:checked) {
	color: black;
}
/* prevent ugly focus outline in firefox */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 rgba(230, 247, 253, 1);
}
/* custom focus outline */
input:focus, select:focus {
	border: 1px solid rgba(230, 247, 253, 0.8);
}
.forms input.button {
	font-weight: 400;
	font-size: 15px;
	color: rgb(55, 60, 72);
	background: rgba(230, 247, 253, 1);
	cursor: pointer;
	margin: 0;
	padding: 5px 10px;
	border-radius: 3px;
	width: 100%;
}
p.button {
	text-align: center;
}
input.check{
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
}
span.error {
	color: var(--emphasis-color);
}
