@import url('base.css');
@charset "UTF-8";


/* Layout */
div.topic {
    margin: 5px 0 0 0;
}
span.header-group-1 {
    width: auto;
    float: left;
	padding-left: 15px;
}
span.header-group-2 {
    width: auto;
    float: right;
	padding-right: 15px;
}
span.header-group-3 {
	width: auto;
    float: right;
	padding-right: 15px;
}
/* Typography */
h2.form, p.warning {
        font-size: 15px;
}
h2.form {
        margin: 10px 0 8px 0;
}

/* Design Elements */
ul.error li {
	padding-left: 15px;
}

/* Forms */
form.review-form, div.review-form {
        width: 310px;
        margin: 0;
        float: none;
}
.review-form input.single {
        font-size: 16px;
}
.review-form select {
        font-size: 16px;
}
.forms input.button {
        font-size: 16px;
}
form.review-form, div.review-form {
	padding-left: 40px;
}
