@import url('base.css');
@charset "UTF-8";


/* Layout */
div.topic {
        margin: 10px 0 0 0;
}
span.header-group {
        width: 300px;
		padding-left: 40px;
}

/* Typography */
h1.header, h2.header {
        font-size: 18px;
}
h2.form, p.warning {
        font-size: 15px;
}
h2.form {
        margin: 10px 0 8px 0;
}
.nav a:link, .nav a:visited {
        font-size: 18px;
}

/* Design Elements */
ul.error li {
	padding-left: 40px;
}

/* Forms */
form.review-form, div.review-form {
        width: 310px;
        margin: 0;
        float: none;
}
.review-form input.single {
        font-size: 18px;
}
.review-form select {
        font-size: 18px;
}
.forms input.button {
        font-size: 18px;
}
form.review-form, div.review-form {
	padding-left: 40px;
}
