<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Use this for mobile to display page at a specific width -->
  <!-- <meta name="viewport" content="width=400"> -->

  {% if title %}
  <title>Review | {{ title }}</title>
  {% else %}
  <title>Review</title>
  {% endif %}

  <meta name="author" content="">
  <meta name="copyright" content="">
  <meta name="keywords" content=",">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">

  <!-- icons -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static', filename='img/icons/apple-touch-icon-57x57.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='img/icons/apple-touch-icon-114x114.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='img/icons/apple-touch-icon-72x72.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='img/icons/apple-touch-icon-144x144.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for('static', filename='img/icons/aapple-touch-icon-60x60.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('static', filename='img/icons/apple-touch-icon-120x120.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for('static', filename='img/icons/apple-touch-icon-76x76.png' )}}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='img/icons/apple-touch-icon-152x152.png' )}}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-196x196.png' )}}" sizes="196x196">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-96x96.png' )}}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-32x32.png' )}}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-16x16.png' )}}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-128x128.png' )}}" sizes="128x128">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> 

  <!-- Stylesheets -->
  <link href="{{ url_for('static', filename='css/base.css' )}}?v=2.2" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/fontawesome-all.css' )}}" rel="stylesheet">

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/review_scripts.js' )}}?v=1.2" defer></script>
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}

</head>
