{% include '_messages-main.html' %}

{% if not new_topics %}  <!-- don't display this if the user is coming from /update -->

  <h1 class="secondary-heading">User</h1>
  <a href="" class="primary primary--active" title="User settings (coming soon)">
    {{ current_user.username }}
  </a>


  <h1 class="secondary-heading">Repos</h1>
  {% if repos %}
  <ul class="plain-list plain-list--vertical">
    {% for repo in repos %}
      {% if repo.repository == selected_repo.repository %}
      <li><span class="primary primary--disabled truncate-text">{{ repo.repository }}</span></li>
      {% else %}
      <li><a href="{{ url_for('main.index', selected_repo=repo.repository, sort='name') }}" class="primary primary--inactive">{{ repo.repository }}</a></li>
      {% endif %}
    {% endfor %}

    <li>
      <div class="relative-container">
        <button class="js-show-form primary primary--inactive">+ add repo</button>
        <!-- if there are validation errors, make sure the form is visible -->
        {% if add_repo_form.repository.errors or add_repo_messages %}
        <form action="" method="post" class="sidebar-form sidebar-form--open padded-lr-reg">
        {% else %}
        <form action="" method="post" class="sidebar-form padded-lr-reg">
        {% endif %}
          <div class="sidebar-form__container">
            {{ add_repo_form.hidden_tag() }}
            {{ add_repo_form.repository.label(class="secondary-heading") }}
            {% for error in add_repo_form.repository.errors %}
            <span class="form-error">* {{ error }}</span>
            {% endfor %}
            {{ add_repo_form.repository(class="sidebar-form__field", placeholder="username/repository", required="true") }}<br>
            <p class="sidebar-form__btn">{{ add_repo_form.add_repo_submit(class="btn btn--solid") }}</p>
          </div>
        </form>
      </div>
    </li>

    <li>
      <div class="relative-container">
        <button class="js-show-form primary primary--inactive">- delete repo</button>
        <form action="" method="post" class="sidebar-form padded-lr-reg" onSubmit="return confirm('Are you sure you want to delete this repository and all of its topics & study sessions?')" >
          <div class="sidebar-form__container">
            {{ del_repo_form.hidden_tag() }}
            {{ del_repo_form.repository.label(class="secondary-heading") }}
            <div class="relative-container">
              {{ del_repo_form.repository(class="js-select-menu sidebar-form__select truncate-text") }}
              <div class="menu-arrow"></div>
            </div>
            <p class="sidebar-form__btn">{{ del_repo_form.del_repo_submit(class="btn btn--solid") }}</p>
          </div>
        </form>
      </div>
    </li>
  </ul>

  {% else %} <!-- if no repos -->
  <p class="sidebar-comment">no repositories yet</p>
  {% endif %}


  <h1 class="secondary-heading">Sort order</h1>
  {% if repos %}
  <ul class="plain-list plain-list--horizontal">
    <li><a href="{{ url_for('main.index', sort='name', selected_repo=selected_repo.repository) }}" class="js-name-sort primary primary--inactive">name</a></li>
    <li><a href="{{ url_for('main.index', sort='date', selected_repo=selected_repo.repository) }}" class="js-date-sort primary primary--inactive">date</a></li>
    <li><a href="{{ url_for('main.index', sort='skill', selected_repo=selected_repo.repository) }}" class="js-skill-sort primary primary--inactive">skill</a></li>
  </ul>

  <script type="text/javascript">
    // selects and highlights the active sort order
    let sort = {{ sort|tojson }} ? {{ sort|tojson }} : 'name';
    console.log(sort);
    let current_sort = document.querySelector('.js-' + sort + '-sort');
    current_sort.classList.remove('primary--inactive');
    current_sort.classList.add('primary--active');
  </script>

  {% else %} <!-- if no repos -->
  <p class="sidebar-comment">no repositories yet</p>
  {% endif %}


  <h1 class="secondary-heading">Study this next</h1>
  {% if repos and recommend %}
  <a href="{{ file_url }}{{ recommend }}" class="primary primary--active" target="_blank">{{ recommend }}</a>
  {% elif repos %} <!-- repo but no topics -->
  <p class="sidebar-comment">no topics</p>
  {% else %} <!-- no repos -->
  <p class="sidebar-comment">no repositories</p>
  {% endif %}

  {% if repos %}
  <div class="relative-container">
    <form action="" method="post" class="sidebar-form sidebar-form--always-open padded-lr-reg">
      <div class="sidebar-form__container">
        {{ review_form.hidden_tag() }}

        {{ review_form.filename.label(class="secondary-heading") }}
        {% for error in review_form.filename.errors %}
        <span class="form-error">* {{ error }}</span>
        {% endfor %}
        <div class="relative-container">
          {{ review_form.filename(class="js-select-menu sidebar-form__select truncate-text") }}
          <div class="menu-arrow"></div>
        </div>

        {{ review_form.time_spent.label(class="secondary-heading") }}
        {% for error in review_form.time_spent.errors %}
        <span class="form-error">* {{ error }}</span>
        {% endfor %}
        {{ review_form.time_spent(class="sidebar-form__field") }}

        <div class="sidebar-form__field-group">
          <div>
            {{ review_form.skill_before.label(class="secondary-heading") }}
            {% for error in review_form.skill_before.errors %}
            <span class="form-error">* {{ error }}</span>
            {% endfor %}
            {{ review_form.skill_before(class="sidebar-form__field", min="0", max="5", step="0.5") }}
          </div>
          <div>
            {{ review_form.skill_after.label(class="secondary-heading") }}
            {% for error in review_form.skill_after.errors %}
            <span class="form-error">* {{ error }}</span>
            {% endfor %}
            {{ review_form.skill_after(class="sidebar-form__field", min="0", max="5", step="0.5") }}
          </div>
        </div>

        <p class="sidebar-form__btn">{{ review_form.review_submit(class="btn btn--solid") }}</p>
      </div>
    </form>
  </div>
  {% endif %}


  <h1 class="secondary-heading">Et Cetera</h1>
  <ul class="plain-list plain-list--vertical">
    {% if repos %}
    <li>
      <div class="relative-container">
        <button class="js-show-form primary primary--active">delete a study session</button>
        <!-- if there are validation errors, make sure the form is visible -->
        {% if del_review_form.review_number.errors %}
        <form action="" method="post" class="sidebar-form sidebar-form--open padded-lr-reg" onSubmit="return confirm('Are you sure you want to delete this study session?')">
        {% else %}
        <form action="" method="post" class="sidebar-form padded-lr-reg" onSubmit="return confirm('Are you sure you want to delete this study session?')">
        {% endif %}
          <div class="sidebar-form__container">
            {{ del_review_form.hidden_tag() }}
            {{ del_review_form.review_number.label(class="secondary-heading") }}
            {% for error in del_review_form.review_number.errors %}
            <span class="form-error">* {{ error }}</span>
            {% endfor %}
            {{ del_review_form.review_number(class="sidebar-form__field", min="1", placeholder="enter study session No.") }}
            <p class="sidebar-form__btn">{{ del_review_form.del_review_submit(class="btn btn--solid") }}</p>
          </div>
        </form>
      </div>
    </li>

    <li>
      <div class="relative-container">
        <button class="js-show-form primary primary--active">delete a topic</button>
        <form action="" method="post" class="sidebar-form padded-lr-reg" onSubmit="return confirm('Are you sure you want to delete this topic and all of its study sessions?')">
          <div class="sidebar-form__container">
            {{ del_topic_form.hidden_tag() }}
            {{ del_topic_form.filename.label(class="secondary-heading") }}
            <div class="relative-container">
              {{ del_topic_form.filename(class="js-select-menu sidebar-form__select truncate-text") }}
              <div class="menu-arrow"></div>
            </div>
            <p class="sidebar-form__btn">{{ del_topic_form.del_topic_submit(class="btn btn--solid") }}</p>
          </div>
        </form>
      </div>
    </li>

    <li>
      <div class="relative-container">
        <button class="js-show-form primary primary--active">rename a topic</button>
        <!-- if there are validation errors, make sure the form is visible -->
        {% if rename_topic_form.new_filename.errors %}
        <form action="" method="post" class="sidebar-form sidebar-form--open padded-lr-reg">
        {% else %}
        <form action="" method="post" class="sidebar-form padded-lr-reg">
        {% endif %}
          <div class="sidebar-form__container">
            {{ rename_topic_form.hidden_tag() }}
            {{ rename_topic_form.old_filename.label(class="secondary-heading") }}
            <div class="relative-container">
              {{ rename_topic_form.old_filename(class="js-select-menu sidebar-form__select truncate-text") }}
              <div class="menu-arrow"></div>
            </div>
            {{ rename_topic_form.new_filename.label(class="secondary-heading") }}
            {% for error in rename_topic_form.new_filename.errors %}
            <span class="form-error">* {{ error }}</span>
            {% endfor %}
            {{ rename_topic_form.new_filename(class="sidebar-form__field") }}
            <p class="sidebar-form__btn">{{ rename_topic_form.rename_submit(class="btn btn--solid") }}</p>
          </div>
        </form>
      </div>
    </li>
    {% endif %}

    <li><a href="{{ url_for('main.admin') }}" class="primary primary--active">account admin</a></li>
    <li><a href="{{ url_for('auth.logout') }}" class="primary primary--active">logout</a></li>
  </ul>


{% else %}  <!-- display this if the user is coming from /update -->

  {% if new_repo %}
  <p class="sidebar-comment">The following files were found in <a href="{{ base_url }}{{ new_repo }}" class="inline inline--light" target="_blank">{{ new_repo }}</a>. To add these to your study list, assign each a comprehension or skill level. In other words, how well do you feel you understand the topic on a scale of 0 to 5, where 0 would be you know nothing, and 5 would be you know the topic very well?</p>

  {% else %}
  <p class="sidebar-comment">New files have been detected in some of your repos. To add these to your study list, assign each a comprehension or skill level. In other words, how well do you feel you understand the topic on a scale of 0 to 5, where 0 would be you know nothing, and 5 would be you know the topic very well?</p>
  {% endif %}

{% endif %}
