<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Use this for mobile to display page at a specific width -->
  <!-- <meta name="viewport" content="width=400"> -->

  {% if title %}
  <title>Review | {{ title }}</title>
  {% else %}
  <title>Review</title>
  {% endif %}

  <meta name="author" content="">
  <meta name="copyright" content="">
  <meta name="keywords" content=",">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">

  <link href="{{ url_for('static', filename='img/favicon.ico' )}}" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/icon-152x152.png' )}}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,600,700,800,900" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="{{ url_for('static', filename='css/base.css' )}}?v=2.1" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/fontawesome-all.css' )}}" rel="stylesheet">

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/review_scripts.js' )}}?v=1.1" defer></script>
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}

</head>
