<div>
<!-- display flashed failure messages from routes -->
{% with messages = get_flashed_messages(category_filter=['main-fail']) %}
  {% if messages %}
    <ul class="error-msg error-msg--fail">
    {% for message in messages %}
      <li class="error-msg__item animate-up">{{ message }}</li>
    {%  endfor %}
    </ul>
  {%  endif %}
{%  endwith %}

<!-- display flashed failure messages from routes -->
{% with messages = get_flashed_messages(category_filter=['main-success']) %}
  {% if messages %}
    <ul class="error-msg error-msg--success">
    {% for message in messages %}
      <li class="error-msg__item animate-up">{{ message }}</li>
    {%  endfor %}
    </ul>
  {%  endif %}
{%  endwith %}
</div>
