<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- conditional statements -->
        {% if title %}
        <title>{{ title }} | Review Log</title>
        {% else %}
        <title>Review Log</title>
        {% endif %}

        <link href="{{ url_for('static', filename='img/favicon.ico' )}}" rel="icon" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,600,700,800,900" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/mobile.css' )}}" rel="stylesheet" media="only screen and (min-width: 0px) and (max-width: 480px)">
        <link href="{{ url_for('static', filename='css/base.css' )}}" rel="stylesheet" media="only screen and (min-width: 481px)">

        <meta name="viewport" content="width=400">

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}



        <script type="text/javascript">
        $(window).load(function(){

        var parent = $('#parent'),
            container = $('.container'),
            children = container.children('.topic'),
            width = children.eq(0).outerWidth() + parseInt(children.eq(0).css('margin-left')) + parseInt(children.eq(0).css('margin-right')),
            maxWidth = children.length * width;

        function resizeContainer() {
            var newWidth = Math.floor(parent.width() / width) * width;
            if (newWidth <= maxWidth && newWidth > 0) {
                container.width(newWidth);
            }
        }
        $(window).resize(resizeContainer);
        resizeContainer();
        });
        </script>

    </head>

    <body>
    <div id="parent">

        <div class="flashed_messages">
            <!-- display flashed messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="error">
                <div class="container">
                {% for message in messages %}
                <li>{{ message }}</li>
                {%  endfor %}
                </div>
            </ul>
            {%  endif %}
            {%  endwith %}
        </div>


        <!-- template inheritance -->
        {% block content %}{% endblock %}

    </div>
    </body>
</html>
