<html>
    <head>
        <!-- conditional statements -->
        {% if title %}
        <title>{{ title }} | Review Log</title>
        {% else %}
        <title>Review Log</title>
        {% endif %}

        <link href="{{ url_for('static', filename='img/favicon.ico' )}}" rel="shortcut icon" type="image/x-icon" >
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

        <meta name="viewport" content="width=device-width">

        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' )}}"> -->

        <link href="{{ url_for('static', filename='css/mobile.css' )}}" rel="stylesheet" media="only screen and (min-width: 0px) and (max-width: 480px)" >
        <link href="{{ url_for('static', filename='css/base.css' )}}" rel="stylesheet" media="only screen and (min-width: 481px)" >

        <meta name="viewport" content="width=400">

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}



    </head>

    <body>
    <div class="container">

        <div class="flashed_messages">
            <!-- display flashed messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="error">
                {% for message in messages %}
                <li>{{ message }}</li>
                {%  endfor %}
            </ul>
            {%  endif %}
            {%  endwith %}
        </div>

        <div class="content">
            <!-- template inheritance -->
            {% block content %}{% endblock %}
        <hr class="clear">
        </div>


    </div>
    </body>
</html>
