{% extends "base.html" %}

{% block content %}

{% if current_user.is_anonymous %}
<div class="nav">
    <div class="container">
    <span class="header-group">
        <h1 class="nav-heading">Review Python:</h1>
        <a href="{{ url_for('main.demo_recommend') }}" class="recommend">recommend topic</a>
    </span>
    <span class="header-group">
        <h2 class="nav-heading">Sort order:</h2>
        <ul class="sort-order">
            <li><a href="{{ url_for('main.demo', sort_by='name') }}">name</a></li>
            <li><a href="{{ url_for('main.demo', sort_by='date') }}">date</a></li>
            <li><a href="{{ url_for('main.demo', sort_by='skill') }}">skill</a></li>
        </ul>
    </span>
    <span class="header-group">
        <h2 class="nav-heading">Demo: </h2>
        <a href="{{ url_for('auth.login') }}" class="logout">exit</a>
    </span>
    </div>
</div>

{% else %}
<div class="nav">
    <div class="container">
    <span class="header-group">
        <h1 class="nav-heading">Review Python:</h1>
        <a href="{{ url_for('main.recommend') }}" class="recommend">recommend topic</a>
    </span>
    <span class="header-group">
        <h2 class="nav-heading">Sort order:</h2>
        <ul class="sort-order">
            <li><a href="{{ url_for('main.index', sort_by='name') }}">name,</a></li>
            <li><a href="{{ url_for('main.index', sort_by='date') }}">date,</a></li>
            <li><a href="{{ url_for('main.index', sort_by='skill') }}">skill</a></li>
        </ul>
    </span>
    <span class="header-group">
        <h2 class="nav-heading">{{ current_user.username.title() }}: </h2>
        <a href="{{ url_for('auth.logout') }}" class="logout">logout</a>
    </span>
    </div>
</div>
{% endif %}


<div class="forms">
    <div class="container">
        <div class="masonry">

            <!-- warning-->
            <div class="masonry__item">
                <h2 class="form-heading white">Warning! </h2>
                <p class="warning">Double check your entry. The delete functions are final. There's no going back once you press 'delete'.</p>
            </div>

            <!-- form: log a review -->
            <div class="masonry__item">
                <form action="" method="post" class="review-form">
                    <h2 class="form-heading">Log a Review Session</h2>
                    {{ review_form.hidden_tag() }}
                    <p>
                        <!-- {{ review_form.filename.label }} -->
                        {% for error in review_form.filename.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ review_form.filename(class="select") }}
                    </p>
                    <p>
                        <!-- {{ review_form.time_spent.label }} -->
                        {% for error in review_form.time_spent.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ review_form.time_spent(class="single", placeholder="time: minutes") }}<br>
                    </p>
                    <p>
                        <!-- {{ review_form.skill_before.label }} -->
                        {% for error in review_form.skill_before.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ review_form.skill_before(class="single", placeholder="skill before: 0–5") }}<br>
                    </p>
                    <p>
                        <!-- {{ review_form.skill_after.label }} -->
                        {% for error in review_form.skill_after.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ review_form.skill_after(class="single", placeholder="skill after: 0–5") }}<br>
                    </p>

                    <p>{{ review_form.submit1(class="button") }}</p>
                </form>
            </div>

            <!-- form: rename a review -->
            <div class="masonry__item">
                <form action="" method="post" class="review-form">
                    <h2 class="form-heading">Rename a Topic</h2>
                    <p>
                        {{ rename_form.hidden_tag() }}
                        <!-- {{ rename_form.old_filename.label }} -->
                        {% for error in rename_form.old_filename.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ rename_form.old_filename(class="select") }}
                    </p>
                    <p>
                        <!-- {{ rename_form.new_filename.label }} -->
                        {% for error in rename_form.new_filename.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ rename_form.new_filename(class="single", placeholder="new_filename.py") }}
                    </p>
                    <p>{{ rename_form.submit4(class="button") }}</p>
                </form>
            </div>

            <!-- form: delete a review -->
            <div class="masonry__item">
                <form action="" method="post" class="review-form">
                    <h2 class="form-heading">Delete a Review Session</h2>
                    {{ del_review_form.hidden_tag() }}
                    <p>
                        <!-- {{ del_review_form.review_id.label }} -->
                        {% for error in del_review_form.review_id.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ del_review_form.review_id(class="single", placeholder="review session ID") }}
                    </p>
                    <p>{{ del_review_form.submit2(class="button") }}</p>
                </form>
            </div>

            <!-- form: delete a topic -->
            <div class="masonry__item">
                <form action="" method="post" class="review-form">
                    <h2 class="form-heading">Delete a Topic</h2>
                    {{ del_topic_form.hidden_tag() }}
                    <p>
                        <!-- {{ del_topic_form.filename.label }} -->
                        {% for error in del_topic_form.filename.errors %}
                        <span class="form-error">{{ error }}</span>
                        {% endfor %}
                        {{ del_topic_form.filename(class="select") }}
                    </p>
                    <p>{{ del_topic_form.submit3(class="button") }}</p>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container">
{% for topic in topics %}
    {% include '_topic.html' %}
{% endfor %}
<hr class="clear">
</div>

<footer class="main-footer">
<p class="smaller">Jessica Rush, 2018. <a href="mailto:hello@cyan.red">Questions?</a></p>
</footer>
{% endblock %}
