{% extends 'base-main.html' %}

{% block content %}

<div class="flex-col flex-col--justified">

{% if not repos %} <!-- new user -->

  <section class="content--centerd content--1col-wide padded-lr-reg">

    <h1 class="primary-heading">Getting Started</h1>

    <p>
      To get started, you'll want to add a <a href="https://help.github.com/en/articles/about-repositories" class="inline inline--dark" target="_blank">github repository</a> that contains the notes and topics you want to review. To add it, you'll need to know the <code>username/repository</code>. For example, if you wanted to add <a href="https://github.com/jessicarush/javascript-notes" class="inline inline--dark" target="_blank" title="My JavaScript notes on Github.">this repo</a>, you would need to enter <code>jessicarush/javacript-notes</code> into the field below. Go ahead and give it a try.
      Keep in mind, only files located in the outermost directory will be added as study topics. Directories, README.md files and hidden files (.dot-files), will be ignored.
    </p>

    <form action="" method="post" class="auth-form">
      {{ add_repo_form.hidden_tag() }}

      {{ add_repo_form.repository.label }}
      {% for error in add_repo_form.repository.errors %}
      <span class="form-error">* {{ error }}</span>
      {% endfor %}
      {{ add_repo_form.repository(class="auth-form__field", placeholder="username/repository", required="true") }}<br>

      <p class="auth-form__btn">{{ add_repo_form.add_repo_submit(class="btn btn--solid") }}</p>
    </form>
  </section>


{% else %} <!-- existing user -->

  {% if not topics %}
    <section class="content--centerd content--1col-wide padded-lr-reg">
      <h1 class="primary-heading">No Topics Found</h1>
      <p>Looks like the repository <a href="{{ base_url }}{{ selected_repo.repository }}" class="inline inline--dark" target="_blank">{{ selected_repo.repository }}</a> has no topics. Remember, directories, hidden files (.dot-files) and README.md files are ignored. This was a design decision on my part because that's just how I organize my study notes. If any new files are added to the github repository, you'll be prompted to add them here the next time you login.</p>
    </section>
  {% else %}
    <section class="topics-container">
      {% for topic in topics %}
        {% set topicloop = loop %} <!-- to access the loop variable in _topic.html -->
        {% include '_topic.html' %}
      {% endfor %}
    </section>
  {% endif %}

{% endif %}

{% endblock %}
