<!-- form: log a review -->
  <form action="" method="post" class="review-form">
    <h2 class="form-heading">Log a Review Session</h2>
    {{ review_form.hidden_tag() }}
    <p>
      <!-- {{ review_form.filename.label }} -->
      {% for error in review_form.filename.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ review_form.filename(class="select") }}
    </p>
    <p>
      <!-- {{ review_form.time_spent.label }} -->
      {% for error in review_form.time_spent.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ review_form.time_spent(class="single", placeholder="time: minutes") }}<br>
    </p>
    <p>
      <!-- {{ review_form.skill_before.label }} -->
      {% for error in review_form.skill_before.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ review_form.skill_before(class="single", placeholder="skill before: 0–5") }}<br>
    </p>
    <p>
      <!-- {{ review_form.skill_after.label }} -->
      {% for error in review_form.skill_after.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ review_form.skill_after(class="single", placeholder="skill after: 0–5") }}<br>
    </p>

    <p>{{ review_form.submit1(class="button") }}</p>
  </form>
</div>

<!-- form: rename a review -->
<div class="masonry__item">
  <form action="" method="post" class="review-form">
    <h2 class="form-heading">Rename a Topic</h2>
    <p>
      {{ rename_form.hidden_tag() }}
      <!-- {{ rename_form.old_filename.label }} -->
      {% for error in rename_form.old_filename.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ rename_form.old_filename(class="select") }}
    </p>
    <p>
      <!-- {{ rename_form.new_filename.label }} -->
      {% for error in rename_form.new_filename.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ rename_form.new_filename(class="single", placeholder="new_filename.py") }}
    </p>
    <p>{{ rename_form.submit4(class="button") }}</p>
  </form>
</div>

<!-- form: delete a review -->
<div class="masonry__item">
  <form action="" method="post" class="review-form">
    <h2 class="form-heading">Delete a Review Session</h2>
    {{ del_review_form.hidden_tag() }}
    <p>
      <!-- {{ del_review_form.review_id.label }} -->
      {% for error in del_review_form.review_id.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ del_review_form.review_id(class="single", placeholder="review session ID") }}
    </p>
    <p>{{ del_review_form.submit2(class="button") }}</p>
  </form>
</div>

<!-- form: delete a topic -->
<div class="masonry__item">
  <form action="" method="post" class="review-form">
    <h2 class="form-heading">Delete a Topic</h2>
    {{ del_topic_form.hidden_tag() }}
    <p>
      <!-- {{ del_topic_form.filename.label }} -->
      {% for error in del_topic_form.filename.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
      {{ del_topic_form.filename(class="select") }}
    </p>
    <p>{{ del_topic_form.submit3(class="button") }}</p>
  </form>
</div>
