{% extends 'base-main.html' %}

{% block content %}

  <section class="content--centerd content--1col-wide padded-lr-reg">

    {% if new_repo %}
    <h1 class="primary-heading">New Repository Topics</h1>
    {% else %}
    <h1 class="primary-heading">New repository topics found!</h1>
    {% endif %}

    <form action="" method="post" class="update-form">
      {{ form.hidden_tag() }}

      <table class="update-form__table">
        <thead>
          <tr>
            <th class="update-form__header">repository</th>
            <th class="update-form__header">filename</th>
            <th class="update-form__header update-form__fixed-width-col align-right">skill 0–5</th>
          </tr>
        </thead>
        <tbody>
          {% for field in form if field.widget.input_type != 'hidden' and field.id != 'add_topic_submit' %}
          <tr>
            <td><span class="update-form__description">{{ field.description }}</span></td>
            <td>{{ field.label(class="update-form__label") }}</td>
            <td class="align-right">{{ field(class="update-form__field", placeholder="0", min="0", max="5", step=".5",  required="true") }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p class="update-form__btn">{{ form.add_topic_submit(class="btn btn--solid") }}</p>
    </form>
  </section>

{% endblock %}
