{% extends "base.html" %}

{% block content %}
<div class="update">
    <h1>New Topics!</h1>
    <form action="" method="post" class="update">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.id != 'submit' %}

                <h2 class="update"><a href="https://github.com/jessicarush/python-examples/blob/master/{{ field.label }}">{{ field.label }}</a></h2>
                <p>
                {% for error in field.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
                {{ field(class="single", placeholder="start skill: 0–5") }}
                </p>

        {% endfor %}

        <p class="button">{{ form.submit(class="button") }}</p>
    </form>

</div>
{% endblock %}
