{% extends "base.html" %}

{% block content %}
<div class="update-page">
    <h1>New Topics!</h1>
    <form action="" method="post" class="update-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.id != 'submit' %}

                <p class="space-above">
                <!-- {{ field.label(class="") }} -->
                <a href="https://github.com/jessicarush/python-notes/blob/master/{{ field.id }}" target="_blank">
                    {{ field.id }}
                </a><br>

                {{ field(class="single", placeholder="enter current skill - a number between 0-5") }}

                {% for error in field.errors %}
                <span class="form-error">{{ error }}</span>
                {% endfor %}

                </p>

        {% endfor %}

        <p class="space-above align-right">{{ form.submit(class="button") }}</p>
    </form>

</div>
{% endblock %}
